.jumb{
    background-color: #ffffff;
    height: 250px;
    box-shadow: 2px solid black;
}
 .con{
    color: red;
   font-size:25px !important;
}
.form_body{
    /* padding-right:50px !important; */
  
}
label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    line-height: 26px;
    
  }
  
  input {
    margin-left: 10px;
  }
  .selector{
      width: 650px !important;
  }
  .selectcont{
    padding-left: 40px !important;
  }
  .jumb2{
    background-color: skyblue;
    height: 40px;
    box-shadow: 2px solid black;
    border-radius: 3px 3px 3px 3px;
   

}
.jumb2 p{
    color: #fff;
    text-align:center !important;
    padding-top:10px;   
}
.cats{
    height: 300px;
    width: 800px;
   
}
.head{
  font-display: bold;
  text-align: center;
  padding-top:10px;
  padding-right:70px !important;
}
.selected select{
  width:700px;
}
 .form_body .btn1:hover{
  background-color:#e76c90;
}